.augmentedPerspective {
  display: block;
  margin: 10;
  padding: 0;
  text-align: center;
  font-family:Oswald;
  font-size: 50px;
  color: coral;
}

a {
  text-decoration: none;
  text-decoration-color: none;
  color: inherit;
}


html{
  box-sizing: border-box;
}

body {
  background-color: #001e3c;
  /*background-image: url("img/background.png");
  background-color: #cccccc;*/
  height: 200%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color : white;
  margin: 0;
}

p {
  text-align: center;
  font-size : 24px;
  font-family: Arial;
}

.not_a_logo {
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%;
  align-self: auto;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.center-image {
  text-align: center;
}


/* properties of the navigation bar and of lists*/
.navbar {
  display: block;
  width: 100%;
  border: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: coral;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

li {
  float: left;
  max-width:100%
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  max-width:100%
}

.navbar li a:hover {
  font-style: italic;
  background-image: url("img/background.png");
}

.active {
  background-color: #4CAF50;
}


/* properties of the content of contact.html */

.socials a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
  max-width:100%
}

.instagram a:hover {
  background-color: pink;
}

.twitter a:hover {
  background-color: cyan;
}

.facebook a:hover {
  background-color: blue;
}

.email a:hover {
  background-color: black;
}

footer {
  margin-top: 80%;
  max-width: 100%;
}

a.fb-h { background: #3B5998; }
a.tw-h { background: #00acee; }
a.ig-h { background: #c8232c; }
a.em-h { background: #FF5700; }

/* properties of the sharing buttons */

#menu-outer {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  align-self: auto;
  /*background: url("images/bg05.jpg");
  background-size: cover;*/
  opacity: 1;
  height: 300px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
  align-self: auto;
}

ul#horizontal-list {
	list-style: none;
	padding-top: 20px;
  align-self: auto;
  display: block;
	}

ul#horizontal-list li {
    margin : 20px;
    max-width: 50%;
    align-self: auto;
}

.sharing li a{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.sharing li a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  }

// Page Styling
* {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
  max-width:100%
}
